p Querido/a #{name}
p Le recordamos que ha reservado cita el #{date} en #{company}
p Ubicada en #{place}
img(src=image)
p En caso de no poder acceder a través del  código QR
p Por favor utilice este enlace #{linkWeb}